_build/
_opam/
log/
todo.txt
assets/models/cat.obj
assets/models/table.obj
assets/models/darkvadortie.obj
assets/models/dirac.obj
assets/models/tie.obj
assets/models/car.obj
assets/models/hexagon.obj
assets/textures/brick.png
assets/textures/car_exterior.jpeg